####**Installing Library**

In [ ]:
!pip install pyresparser #Installing Pyresparser 
!pip install pyPDF2
!pip install docx
!pip install python-docx

Collecting python-docx
  Downloading https://files.pythonhosted.org/packages/e4/83/c66a1934ed5ed8ab1dbb9931f1779079f8bca0f6bbc5793c06c4b5e7d671/python-docx-0.8.10.tar.gz (5.5MB)
     |████████████████████████████████| 5.5MB 2.8MB/s
Requirement already satisfied: lxml>=2.3.2 in /usr/local/lib/python3.6/dist-packages (from python-docx) (4.2.6)
Building wheels for collected packages: python-docx
  Building wheel for python-docx (setup.py) ... done
  Created wheel for python-docx: filename=python_docx-0.8.10-cp36-none-any.whl size=184491 sha256=ad86d92c0ff5608dea21aeebd75fc1537612f124c3e73f6e3ba0f7c299c09b62
  Stored in directory: /root/.cache/pip/wheels/18/0b/a0/1dd62ff812c857c9e487f27d80d53d2b40531bec1acecfa47b
Successfully built python-docx
Installing collected packages: python-docx
Successfully installed python-docx-0.8.10

####**Importing Libraries**

In [300]:
import nltk
nltk.download('stopwords')
from pyresparser import ResumeParser
import os
import PyPDF2
import docx2txt
import pandas as pd
from parser import *
import sys

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

####**Reading JD from Folder Resume**

In [302]:
#Function to read resumes from the folder one by one
mypath='/Resume/Job Description' #enter your path here where you saved the resumes
jd_files = [os.path.join(mypath, f) for f in os.listdir(mypath) if os.path.isfile(os.path.join(mypath, f))]
jd_files        #Job description(with location name)

['/Resume/Job Description/JD- Orcale JAVA.docx',
 '/Resume/Job Description/Railway Signalling JD-1.docx',
 '/Resume/Job Description/Java Production Support SRE - JD.docx',
 '/Resume/Job Description/MongoDB JD.docx',
 '/Resume/Job Description/AWS.docx',
 '/Resume/Job Description/Job Description QE.docx']

####**Creating Job Description DataFrame**

In [303]:
row=0 #intialize that we are in index 0. When skills are fetching from each JD the dataframe row will increase by +1 and dataframe new row added by next JD skills.

for jd in jd_files:  #iterating with individual JD froom JD_Files '/Resume/Job Description'.
  jd_data = ResumeParser(jd).get_extracted_data()  #extracting with all keys and values from JD and stored in jd_data
  
  for key in jd_data.keys():
    if key=='skills':  #extracting the data where key=skills
      skills=jd_data[key]
      print(jd_data[key])
      skills_in_string = ' '.join(map(str, skills)) # converting skills datatype list to string
      
      
      if row==0:
        jd_skills_df = pd.DataFrame([skills_in_string]) 
                                                              #creating a dataframe and added JD skiils  ex-# row 0- JD1 skills
                                                                                                            #  row 1- JD2 skills
                                                                                                            #  row 3- JD3 skills....
      jd_skills_df[row]=skills_in_string                                                                                                       
      row=row+1
    
jd_skills_df=jd_skills_df.transpose() 
jd_skills_df

['Programming', 'Process', 'Java', 'Sql', 'Debugging', 'Architecture', 'Writing']
['Testing', 'Electronics', 'Investigate', 'Safety', 'Specifications', 'Programming', 'Computer science', 'Electrical', 'Engineering', 'Operations', 'Protocols', 'Business stakeholders', 'Interactive', 'Communication', 'Training', 'Standardization', 'Modeling', 'Construction', 'Hardware', 'Autocad', 'Transportation', 'Network design', 'Quality assurance', 'Instrumentation', 'Writing', 'Design', 'Technical', 'Process', 'C++', 'Cad', 'C', 'Improvement', 'System', 'Commissioning', 'Architecture', 'Circuits']
['Linux', 'Docker', 'Java', 'Sql', 'Jira', 'Nosql', 'Oracle', 'Github', 'Debugging', 'Python', 'Shell', 'Scripting']
['Linux', 'Design', 'Docker', 'Scripting', 'Perl', 'Architecture', 'Nosql', 'Ruby', 'System', 'Shell', 'Queries', 'Database']
['Computer science', 'Yaml', 'Engineering', 'Cloud', 'Json', 'Aws', 'Migration']
['Javascript', 'Linux', 'Reporting', 'Scripting', 'Selenium', 'Unix', 'Java', 'Windows', 'Html', 'Testing', '.net', 'Oracle', 'Automation', 'Plan', 'System', 'Xml', 'Specifications', 'Database']

                                                   0
0  Programming Process Java Sql Debugging Archite...
1  Testing Electronics Investigate Safety Specifi...
2  Linux Docker Java Sql Jira Nosql Oracle Github...
3  Linux Design Docker Scripting Perl Architectur...
4  Computer science Yaml Engineering Cloud Json A...
5  Javascript Linux Reporting Scripting Selenium ...

####**Fetching Job Role Name**

In [304]:
mypath='/Resume/Job Description' #enter your path here where you saved the resumes
jd_files_name = [os.path.join(f) for f in os.listdir(mypath) if os.path.isfile(os.path.join(mypath, f))]
jd_files_name

['JD- Orcale JAVA.docx',
 'Railway Signalling JD-1.docx',
 'Java Production Support SRE - JD.docx',
 'MongoDB JD.docx',
 'AWS.docx',
 'Job Description QE.docx']

In [305]:
jd_skills_df['Role']='none'
for role in range(len(jd_files_name)):
  jd_skills_df['Role'][role]=jd_files_name[role]

jd_skills_df

                                                   0                                   Role
0  Programming Process Java Sql Debugging Archite...                   JD- Orcale JAVA.docx
1  Testing Electronics Investigate Safety Specifi...           Railway Signalling JD-1.docx
2  Linux Docker Java Sql Jira Nosql Oracle Github...  Java Production Support SRE - JD.docx
3  Linux Design Docker Scripting Perl Architectur...                        MongoDB JD.docx
4  Computer science Yaml Engineering Cloud Json A...                               AWS.docx
5  Javascript Linux Reporting Scripting Selenium ...                Job Description QE.docx

In [306]:
jd_skills_df.columns=['Skills','Role']# Rename the columns
jd_skills_df

                                              Skills                                   Role
0  Programming Process Java Sql Debugging Archite...                   JD- Orcale JAVA.docx
1  Testing Electronics Investigate Safety Specifi...           Railway Signalling JD-1.docx
2  Linux Docker Java Sql Jira Nosql Oracle Github...  Java Production Support SRE - JD.docx
3  Linux Design Docker Scripting Perl Architectur...                        MongoDB JD.docx
4  Computer science Yaml Engineering Cloud Json A...                               AWS.docx
5  Javascript Linux Reporting Scripting Selenium ...                Job Description QE.docx

In [297]:
jd_skills_df.to_csv('jd_skills_df.csv') #convert into the csv file